<table class="table text-center">
  <thead>
  <tr class="">
    <td>Title</td>
    <td>Author</td>
    <td>Partner</td>
    <td>Direction</td>
  </tr>
  </thead>
  <tr ng-repeat="trade in trades" ng-show="trade.accepted==true">
    <td>{{tradeBook[trade.book[0]].title}}</td>
    <td>{{tradeBook[trade.book[0]].author}}</td>
    <td ng-show="trade.owner==currentUser().name">{{trade.trader}}</td>
    <td ng-hide="trade.owner==currentUser().name">{{trade.owner}}</td>
    <td ng-show="trade.owner==currentUser().name">Outgoing</td>
    <td ng-hide="trade.owner==currentUser().name">Incoming</td>
  </tr>
</table>
